{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    <title>EdTech Base</title>
    {% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}
    {% endblock %}

    {% block css %}
    {% endblock %}

    {% block head_scripts %}
    {% endblock %}

</head>

<body>
    {% block content %}
    This is edtech
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>

</html>